[package]
name = "wav1c"
version.workspace = true
edition = "2024"
description = "Wondrous AV1 encoder written in safe Rust."
license.workspace = true
repository.workspace = true
authors.workspace = true
keywords.workspace = true
categories.workspace = true
readme = "../README.md"

[dependencies]
